/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .menu li {
        margin-left: 0;
    }
    .banner-content {
        padding: 0;
        margin-top: 56px;
        text-align: center;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    .banner-content h1 {
        font-size: 25px;
        line-height: 38px;
    }
    .service1-heading {
        margin-bottom: 35px;
    }
    
    .banner {
        min-height: 552px;
    }
    .reinsurance-single-item {
        margin-top: 30px;
    }
    section.presentation {
        padding: 30px 0;
    }
    section.reinsurance {
        padding: 30px 0;
    }
    .presentation-img::before {
        right: -34px;
        bottom: -27px;
        width: 277px;
        height: 281px;
    }
    .presentation-content h2 {
        font-size: 25px;
    }
    section.service1 {
        padding: 30px 0;
        margin-top: 20px;
    }
    .service1-heading h2 {
        font-size: 25px;
    }
    section.service2 {
        padding: 30px 0px;
    }
    .navbar-collapse {
        padding: 30px 0;
    }
    .c-form {
        padding: 30px 20px;
        margin-top: 60px;
    }
    section.contact {
        padding: 30px 0;
    }
    .c-form h2 {
        font-size: 25px;
    }
    footer {
        padding: 20px 0;
    }
    .accordion-btn {
        padding: 10px 0;
        padding-left: 16px;
    }
    .card-body-cus {
        border: 1px solid #72bf446b;
        padding: 16px 16px;
    }
    .card-cus {
        margin-top: 25px;
    }
    .faq {
        padding: 30px 0;
    }
    .price-header .price {
        font-size: 55px;
    }
    .price-header i {
        width: 85px;
        height: 85px;
    }
    .price-box {
        margin-top: 0;
    }
    .pricing {
        padding: 30px 0;
    }
    section.sponsor {
        padding: 30px 0;
    }
    .card-content .icon-box {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .card-content i {
        font-size: 16px;
    }
    .card-content h4,p {
        margin-left: 15px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .menu li {
        margin-left: 0;
    }
    .banner-content {
        padding: 0;
        margin-top: 56px;
        text-align: center;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    .banner-content h1 {
        font-size: 25px;
    }
    .presentation-content h2 {
        font-size: 25px;
    }
    section.service1 {
        margin-top: 0;
    }
    .service1-heading{
        margin-bottom: 35px;
    }
    .c-form {
        margin-bottom: 0;
    }
    .sponsor-slider {
        margin-top: 10px;
    }
    footer {
        padding: 20px 0;
    }
    section.contact {
        padding: 60px 0 0 0;
    }
    .accordion-btn {
        padding: 10px 0;
        padding-left: 16px;
    }
    .card-body-cus {
        border: 1px solid #72bf446b;
        padding: 16px 16px;
    }
    .card-cus {
        margin-top: 25px;
    }
    .faq {
        padding: 30px 0;
    }
    .reinsurance-single-item {
        margin-top: 30px;
    }
    .presentation-content {
        margin-top: 90px;
    }
    
    .price-header .price {
        font-size: 60px;
    }
    .card-content .icon-box {
        width: 65px;
        height: 65px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-content i {
        font-size: 25px;
    }
    
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .menu li {
        margin-left: 0;
    }
    .banner-content h1 {
        font-size: 28px;
    }
    .banner {
        min-height: 705px;
    }
    .banner-content {
        margin-top: 250px;
    }
    .presentation-img::before {
        right: -65px;
        bottom: -40px;
        width: 290px;
        height: 248px;
    }
    .price-header .price {
        font-size: 63px;
    }
    .g-map {
        margin-top: 35px;
    }
    .c-form {
        padding: 35px 10px;
        border-radius: 5px;
        margin-bottom: 0;
    }  
    .c-form h2 {
        margin-bottom: 30px;
        font-size: 25px;
    }  
    footer {
        padding: 20px 0;
    }
    .presentation-content {
        margin-top: 0;
    }
.card-content .icon-box {
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content i {
    font-size: 20px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .banner {
        min-height: 600px;
    }
    .presentation-img::before {
        right: -40px;
    }
    footer {
        padding: 20px 0;
    }
    .card-content .icon-box {
        width: 70px;
        height: 70px;
        padding: 15px;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    footer {
        padding: 20px 0;
    }
    .g-map {
        margin-top: 45px;
    }    
    .banner-content {
        margin-top: 241px;
        transform: translateY(0);
    }
}